In [25]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [26]:
%env DATABASE_URL= postgresql://postgres:duchoang456@localhost:5432/itversity_retail_db

env: DATABASE_URL=postgresql://postgres:duchoang456@localhost:5432/itversity_retail_db

In [27]:
%%sql

truncate table orders

 * postgresql://postgres:***@localhost:5432/itversity_retail_db
Done.

[]

In [28]:
import pandas as pd

In [29]:
import json

In [30]:
file_path = '../data/retail_db/schemas.json'

In [31]:
file_json = open(file_path, mode='r')

In [32]:
schemas = json.load(file_json)

In [33]:
def get_column_name(name_table):
    column_name = []
    for i in schemas[name_table]:
        column_name.append(i['column_name'])
    return column_name

In [34]:
name_column = get_column_name('orders')

In [35]:
name_column

['order_id', 'order_date', 'order_customer_id', 'order_status']

In [36]:
df = pd.read_csv('../data/retail_db/orders/part-00000', names=name_column)

In [37]:
type(df)

pandas.core.frame.DataFrame

In [38]:
df_reader = pd.read_csv('../data/retail_db/orders/part-00000', names=name_column, chunksize=10000)

In [39]:
type(df_reader)

pandas.io.parsers.readers.TextFileReader

In [40]:
df_list = list(df_reader)

In [41]:
df_list[0]

      order_id             order_date  order_customer_id     order_status
0            1  2013-07-25 00:00:00.0              11599           CLOSED
1            2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2            3  2013-07-25 00:00:00.0              12111         COMPLETE
3            4  2013-07-25 00:00:00.0               8827           CLOSED
4            5  2013-07-25 00:00:00.0              11318         COMPLETE
...        ...                    ...                ...              ...
9995      9996  2013-09-25 00:00:00.0              11839          PENDING
9996      9997  2013-09-25 00:00:00.0               3471  PENDING_PAYMENT
9997      9998  2013-09-25 00:00:00.0               9419          PENDING
9998      9999  2013-09-25 00:00:00.0               1185           CLOSED
9999     10000  2013-09-25 00:00:00.0               8983       PROCESSING

[10000 rows x 4 columns]

In [42]:
df_reader = pd.read_csv('../data/retail_db/orders/part-00000', names=name_column, chunksize=10000)

In [43]:
for idx, df in enumerate(df_reader):
        print(f'Size of chunk {idx} is {df.shape}')

Size of chunk 0 is (10000, 4)
Size of chunk 1 is (10000, 4)
Size of chunk 2 is (10000, 4)
Size of chunk 3 is (10000, 4)
Size of chunk 4 is (10000, 4)
Size of chunk 5 is (10000, 4)
Size of chunk 6 is (8883, 4)

In [44]:
conn_uri = 'postgresql://postgres:duchoang456@localhost:5432/itversity_retail_db'

In [45]:
df_reader = pd.read_csv('../data/retail_db/orders/part-00000', names=name_column, chunksize=10000)

In [46]:
for idx, df in enumerate(df_reader):
        print(f'Size of chunk {idx} is {df.shape}')
        df.to_sql('orders', conn_uri, if_exists='append', index=False)

Size of chunk 0 is (10000, 4)

Size of chunk 1 is (10000, 4)
Size of chunk 2 is (10000, 4)
Size of chunk 3 is (10000, 4)
Size of chunk 4 is (10000, 4)
Size of chunk 5 is (10000, 4)
Size of chunk 6 is (8883, 4)

In [47]:
%%sql
select * from orders limit 10

 * postgresql://postgres:***@localhost:5432/itversity_retail_db
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED'),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT'),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE'),
 (8, datetime.datetime(2013, 7, 25, 0, 0), 2911, 'PROCESSING'),
 (9, datetime.datetime(2013, 7, 25, 0, 0), 5657, 'PENDING_PAYMENT'),
 (10, datetime.datetime(2013, 7, 25, 0, 0), 5648, 'PENDING_PAYMENT')]